<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547135967103-caum0b44jbacr72momgcpsgj7fd602p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547135967103-caum0b44jbacr72momgcpsgj7fd602p3</string>
	<key>API_KEY</key>
	<string>AIzaSyAMqBL6UC6P4u5TKHyDIfPc2Tu8eiEMK0U</string>
	<key>GCM_SENDER_ID</key>
	<string>547135967103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naijacowry.edheyshopios</string>
	<key>PROJECT_ID</key>
	<string>e-dey-shop-android</string>
	<key>STORAGE_BUCKET</key>
	<string>e-dey-shop-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547135967103:ios:62df359c9035d8df73944a</string>
	<key>DATABASE_URL</key>
	<string>https://e-dey-shop-android.firebaseio.com</string>
</dict>
</plist>